<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Delimiter" value="|"/>
    <add key="PersonTable" value="[AML].[data].[BPO_PersonExtended]"/>
    <add key="EntityTable" value ="[AML].[data].[BPO_EntityExtended]"/>
    <add key="LogFilePath" value="C:\Users\rapillay\Documents\Projects\AML\Logs\Log20180924.txt"/>
    
    <add key="AMLconnectionString" value="data source=5CD6211Z8J\SQLEXPRESS;initial catalog=AML;integrated security=True;MultipleActiveResultSets=True;"/>
    
    <add key="PathEntity" value="C:\Users\rapillay\Documents\Projects\AML\Upload\DjXmlDataCompareEntity20180331.dsv"/>
    <add key="PathPerson" value="C:\Users\rapillay\Documents\Projects\AML\Upload\PersonJan2018.dsv"/>
   
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="BPOEntities" connectionString="metadata=res://*/BPOModel.csdl|res://*/BPOModel.ssdl|res://*/BPOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CITIZEN\SQLEXPRESS;initial catalog=AML;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>


