<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<appSettings>
  <add key="PersonReadPath" value="C:\Users\jyp1510\Documents\AML\DJ-XML\Test\Factiva_PFA_Feed_XML\Factiva_PFA_Feed_XML\Person\"/>
  <add key="OutPersonFileWritePath" value="C:\Users\jyp1510\Documents\AML\DJ-XML\Test\Factiva_PFA_Feed_XML\Factiva_PFA_Feed_XML\PersonOut.txt"/>
  <add key="EntityReadPath" value=""/>
  <add key="OutEntityFileWritePath" value=""/>
  <add key="LogPersonWritePath" value="C:\Users\jyp1510\Documents\AML\New folder\logout.txt"/>
  <add key="LogEntityWritePath" value="C:\Users\jyp1510\Documents\AML\DJ-XML\Factiva_PFA_Feed_XML"/>
</appSettings>
</configuration>