<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Delimiter" value="|"/>
    <add key="PersonTable" value="dbo.AML_Person"/>
    <add key="EntityTable" value ="data.BPO_Entity"/>
    <add key="LogFilePath" value="C:\Users\Accidental\Documents\AML Data\DJ List\Log.txt"/>
    <add key="ConnectionString" value="Server=CITIZEN\SQLEXPRESS;Database=BPO;Trusted_Connection=True;"/>
    <add key="AMLconnectionString" value="Server=dsqlbp1;Database=AML;User Id=blueprintlogin;Password=blueprintlogin"/>
    <add key="Path" value="E:\DJ_Persons_List_Jan2017.dsv"/>
    <add key="PathEntity" value="C:\Users\Accidental\Documents\AML Data\8-Jun-2017\DJ_Entity_List_Mar2017_2.del"/>
    <add key="PathPerson" value="C:\Users\Accidental\Documents\AML Data\8-Jun-2017\DJ_Persons_List2_Mar2017.del"/>
    <add key="PathEntityResolved" value="C:\Users\Accidental\Documents\AML Data\New\DJ_Entity_List_Mar2017Resolved.del"/>
    <add key="PathPersonResolved" value="C:\Users\Accidental\Documents\AML Data\8-Jun-2017\DJ_Persons_List_Mar2017Resolved.del"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="BPOEntities" connectionString="metadata=res://*/BPOModel.csdl|res://*/BPOModel.ssdl|res://*/BPOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CITIZEN\SQLEXPRESS;initial catalog=BPO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>


